@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=TASA+Orbiter:wght@400..800&display=swap');
body{
  background-color: #0f2017;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

style{
  background: #192b21;
}